@media only screen and (max-width: 768px) {
.large_nav_image{
  display: none;
}
.bannar{
  display: none;
}

.bm-burger-button{
  display: block;
}

.bannar_img
{
  display: flex;
}
  
  .home_main {
    height: auto;
  }
  
 
  .after_res_img{
    display: block;
  }
  
  .home_main .bannar_img img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  
  .header {
    position: static;
    /* display: block; */
    width: 100%;
    justify-content: space-between;
  }
  .menu_list{
    background-color: rgb(188, 173, 173);
  }
  .bm-burger-bars{
    margin-top: 10rem !important;
  }
  
  .menu-item--small{
    color:red
  }
  .header_logo {
    height: 100px;
    width: 110px;
    padding:0.3rem
  }
  
  .menus {
    /* margin: 20px 0; */
    display: none;

  }
  .res_menu{
    background-color: red;
  }
  
  .menus p {
    /* margin-left: 10px; */
    /* font-size: 16px; */
  }
  .bannar_text_home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 90rem; */
    /* padding-left: 50px; */
  }
  
  .bannar_text_home h1{
    color: var(--blue);
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .bannar_text_home p{
    color: var(--blue);
    margin: 22px 0;
    font-size: 15px;
    /* padding-right: 40px; */
  }
  .bannar_text_home button{
    background-color: var(--blue);
    padding: 6px 12px;
    color: white;
    font-weight: 500;
    border-radius: 12px;
  }
  .players_content
  {
    width: 100%;
    display: flex;
    flex-direction: column;

      justify-content: center;
      align-items: center;
  }
  #react-burger-menu-btn{
    margin-top: 5rem !important;
    /* margin-left: 25rem !important; */
    /* width:10% !important; */
    /* height: 5rem !important; */
  }
  .menuLinkColor{
    padding:0.3rem
  }
  .footer_logo{
    /* height: 150px; */
    padding:2rem;
    width: 100%;
    margin-left: auto;
    margin-bottom: 20px;
  }
  

  
}